{% extends 'base.html.twig' %}

{% block titrePage %}

        <h2>Entreprises</h2>

{% endblock %}

{% block contenuPage %}

{% set debutNouvelleLigne = true %}

  {% for entreprise in entreprises %}
    {% if debutNouvelleLigne == true %}

    <div class="card-group">
      {% set debutNouvelleLigne = false %}
    {% endif %}

      
      <div class="card">  
        <div class="card-body">
          <h5 class="card-title">{{entreprise.nom}}</h5>
          <p class="card-text">{{entreprise.adresse}}</p>
          <p class="card-text">{{entreprise.activite}}</p>
          <a class="nav-link" href="#">{{entreprise.siteWeb}}</a>
          <a class="nav-link" href="{{path('proStage_stages_entreprise',{'nomEntreprise':entreprise.nom})}}">Voir stages</a>
          {% if is_granted('ROLE_ADMIN') %}
          <a class="nav-link" href="{{path('proStage_modif_entreprise',{'id':entreprise.id})}}">Modifier</a>
          {% endif %}
        </div>
      </div>

      {# Vérifier s'il faut passer à la ligne suivante (toutes les 3 ressources affichées) #}
      {% if loop.index % 3 == 0 %}
        </div>
        <br />
        {% set debutNouvelleLigne = true %}
      {% endif %}

    {% endfor %}

{% endblock %}