{% extends 'base.html.twig' %}

{% block titrePage %}
{% if action == "ajouter" %}
Ajout d'une ressource pédagogique
{% else %}
Modifier une ressource pédagogique
{% endif %}

{% endblock %}

{% block contenuPage %}
<h4> Saisissez les caractéristiques de la ressource que vous souhaitez partager. </h4> 


{{ form_start (vueFormulaireStage) }}
    <div>
        {{ form_label (vueFormulaireStage.titre)}}
        {{ form_widget (vueFormulaireStage.titre, {'attr':{'placeholder':'Titre du stage'}})}}
    </div>

    <div>
        {{ form_label (vueFormulaireStage.description)}}
        {{ form_widget (vueFormulaireStage.description, {'attr':{'placeholder':'Description du stage'}})}}
    </div>

    <div>
        {{ form_label (vueFormulaireStage.missions)}}
        {{ form_widget (vueFormulaireStage.missions, {'attr':{'placeholder':'Missions du stage'}})}}
    </div>

    <div>
        {{ form_label (vueFormulaireStage.email)}}
        {{ form_widget (vueFormulaireStage.email, {'attr':{'placeholder':'Email de contact'}})}}
    </div>

    {#
    <div>
        {{ form_row(vueFormulaireStage.entreprise, {'label': "Entreprise"})}}
    </div>

    <div>
        {{ form_row(vueFormulaireStage.formations, {'label': "Formations correspondante au stage"})}}
    </div>
    #}
    
    <button type="submit" class="btn btn-dark">Enregistrer</button>
    

{{ form_end (vueFormulaireStage)}}

{% endblock %}